html {
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.clearfix:after {
    display: block;
    content: ' ';
    clear: both;
}
.wrapper {
    width: 100%;
    background-size: contain;
    height: 100%;
    background: #000 url("../img/bg.jpg") no-repeat center;
}

.navSection {
    width: 100%;
    line-height: 70px;
}
.navSectionWrapper {
    width: 80%;
    margin: auto;
}
.navSectionWrapper > ul {
    list-style: none;
    display: inline;
    float: right;
}
.navSectionWrapper > ul > li {
    display: inline-block;
}

.navSectionWrapper > ul > li > a {
    text-decoration: none;
    color: #455A64;
    margin: 0 1em;
}
.navSectionWrapper > h1 > a {
    color: #455A64;
    text-decoration: none;
    float: left;
    font-size: 25px;
    font-weight: normal;
}
.navSectionWrapper > h1 span, .heroContentLeft > h1 > strong {
    color: rgb(65, 46, 36);
    font-weight: 700;
}
.nav {
    float: right;
    display: none;
}
.nav div {
    height: 5px;
    background-color: #fff;
    margin: 5px 0px;
    border-radius: 25px;
    transition: 0.3s;
}
.nav:hover div {
    width: 30px;
}
.one {
    width: 25px;
}
.two {
    width: 15px;
}
.three {
    width: 25px;
}
@media only screen and (max-width: 560px){
    .nav {
        display: block;
        cursor: pointer;
        padding-top: 20px;
    }
    .navSectionWrapper > ul {
        text-align: center;
        width: 100%;
        display: none; 
    }
    .navSectionWrapper > ul > li:not(:last-child) {
        display: block;
        margin: 0;
        border-bottom: 1px solid #EAEAEB;
    }
    .navSectionWrapper > h1 {
        font-size: px;
    }
} 

.heroSection {
    width: 100%;
}
.heroSectionWrapper {
    width: 80%;
    margin: auto;
    padding: 1em 0 7em 0;
}
.heroSectionWrapper h1 {
    padding: .5em;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    color: #455A6A;
    margin: 1em 0 1em 0;
    line-height: 36px; 
}
.heroContent {
    margin: 2em 0 2em 0;
}
.heroContentLeft {
    float: left;
    width: 64%;
}
.heroContentRight {
    float: right;
    width: 36%; 
}
.heroContentRight > form, 
.heroContentOptions {
    text-align: center;
    clear: right;
    margin: 0 auto;
    width: 80%;
}
.heroContentOptions > label {
    line-height: 20px;
    font-size: 25px;
    padding: 0em .2em;
}
.heroContentOptions > input[type="radio"] {
    width: 20px;
    height: 20px;
}
.heroContentRight > form > input:not(:last-child) {
    width: 100%;
    margin: 0.5em 0;
    border: 2px solid #fff;
    line-height: 40px;
    padding: 0 1em;
    outline: none;
    background: #c8c3bf;
    border-radius: 5px;
}
::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
::-moz-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
:-ms-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
:-moz-input-placeholder {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.heroContentRight > form > select {
    display: block;
    margin: 0.5em 0;
    border: 2px solid #fff;
    line-height: 40px;
    padding: .7em 1em;
    outline: none;
    background: #c8c3bf;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    width: calc(100% + 2em);
}
input[type="submit"] {
    background-color: rgb(65, 46, 36);
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    padding: 0.75em 2em;
    border-radius: 100px;
    outline: none;
    border: 2px solid #fff;
    float: right;
    margin-right: -2.3em;
}
@media only screen and (max-width: 560px){
    .heroContent {
        margin: 0;
    }
    .heroContentRight, .heroContentLeft {
        width: 100%;
    }
    .heroContentRight > form > input:not(:last-child),
    .heroSectionWrapper h1 {
        padding: 0;
    }
    .heroContentRight > form > input:not(:last-child) {
        padding-left: 1em;
    }
    .heroContentRight > form > select {
        width: 106%;
    }
}
@media only screen and (max-width: 700px){
    .heroSectionWrapper h1 {
        padding: .2em;
    }
    .heroSectionWrapper h1 {
        font-size: 30px;
    }
    input:last-child {
        margin-right: -1.3em;
    }    
}

.votingInfoSection {
    width: 100%;
    background: url("../img/bg2.png") no-repeat 100% 100%;
    background-position: bottom;
}
.votingInfoWrapper {
    width: 70%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 auto;
}
.votingInfoItem {
    display: flex;
    flex-direction: column;
    flex: 11 auto;
    margin: 6%;
}
.votingInfoItem > i {
    font-size: 100px;
    color: rgb(65, 46, 36);
    text-align: center;
    width: 100%;
}
.votingInfoItem > h2 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    line-height: 100px;
}
.votingAction {
    padding: 2em 0 1em 0;
    text-align: center;
}
.votingAction h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
}
.socialInfo {
    width: 100%;
    clear: both;
}
.socialInfoWrapper {
    text-align: center;
    padding: 0 0 1.5em 0;
}
.linkItem {
    margin: 0 1em;
    display: inline-block;
    width: 300px;
    padding: 1em;
    border: 1px solid rgb(65, 46, 36);
    border-radius: 5px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.10);
}
.linkItem a {
    margin: 0.5em;
    text-decoration: none;
    font-weight: 400;
    font-size: 35px;
    line-height: 70px;
    color: rgb(65, 46, 36);
}
.linkItem p {
    line-height: 70px;
    font-size: 30px;
}

@media only screen and (max-width: 560px){
    .votingInfoWrapper {
        width: 100%;
    }
    .votingInfoItem {
        flex: 50 auto;
        margin: 0 auto;
        padding: 10% 0 7% 0;
    }
    .linkItem {
        margin: 1em 0;
    }
}
@media only screen and (max-width: 700px){ 
    .votingAction h2 {
        font-size: 25px;
        font-weight: 200;
        line-height: 40px;
    }
    .votingInfoItem > i {
        font-size: 35px;
    }
    .votingInfoItem > h2 {
        font-size: 25px;
        font-weight: 300;
        line-height: 70px;
    }
    .linkItem {
        width: 250px;
    }
    .linkItem p {
        line-height: 40px;
        font-size: 20px;
    }
    .linkItem a {
        font-size: 25px;
        font-weight: 300;
        margin: 0.4em;
        line-height: 50px;
    }
}

.footerSection {
    text-align: center;
    color: #FFF;
    background-color: rgb(65, 46, 36);
    padding: 1em;
}
.footerSection h4 > a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 70px;
}
.footerSection h4 span {
    font-weight: 700;
}


/* candidates page */
.candidateListingSection {
    width: 100%;
    padding-bottom: 2em;
    background: url("../img/bg2.png") no-repeat 100% 100%;

}
.cards {
    width: 80%;
    margin: auto;
    /*border: 1px solid red;*/
    padding: 2em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

/*candidate card*/
.card {

    /*flex: 0 1 24%;*/
    /*flex: 0 1 calc(25% - 1em);*/
    width: calc(25% - 1em);
    color: #fff;
    margin: 1rem .25em;
    /*overflow: hidden;*/
    box-sizing: border-box;

    border-bottom: 3px solid #F1C40F;
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}
.card > .exam-image {
    height: 220px;
}
.card > .exam-image > img, .card {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card .summary {
    background-color: #6f4c38;
    padding: 5px 20px;
    height:120px;
    line-height: 20px;
}
.card .summary > h3.cadidateName {
    margin: 10px 0;
    font-size: 1.5rem;
    line-height: 20px;
    font-weight: normal;
}
.summary-desc {
    margin: 0 0 10px;
    line-height: 30px;
    font-family: Sintony, sans-serif;
}

/* 640px */
@media screen and (max-width: 40em){
    .cards {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        -webkit-flex: 0 1 calc(50% - 1em);
        -moz-flex: 0 1 calc(50% - 1em);
        -ms-flex: 0 1 calc(50% - 1em);
        -o-flex: 0 1 calc(50% - 1em);
        flex: 0 1 calc(50% - 1em);
    }
    .card .summary > h3.cadidateName {
        /*margin: 10px 0;*/
        font-size: .8rem;
        line-height: 15px;
        /*font-weight: normal;*/
    }
    .summary-desc {
        /*margin: 0 0 10px;*/
        line-height: 15px;
        font-size: .7rem;
        /*font-family: Sintony, sans-serif;*/
    }
}

@media screen and (min-width: 60em){
    .cards {

    }
    .card {
        -webkit-flex: 0 1 calc(25% - 1em);
        -moz-flex: 0 1 calc(25% - 1em);
        -ms-flex: 0 1 calc(25% - 1em);
        -o-flex: 0 1 calc(25% - 1em);
        flex: 0 1 calc(25% - 1em);
    }
}

@media screen and (min-width: 52em){
    .candidateListingSection {
        
    }
}

